$main-color: #ffb7f6;

body{
  color: $main-color;
  font-family: futura;
  background-image: url('marble.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

img{

}

h1{
  text-align: center;
}

.product{
  background: black;
  border-radius: 25px;
  padding: 10px;
}

#biggie{
  font-size: 100px;
  background: black;
  border-radius: 25px;
}