$main-color: #ffb7f6;

body{
  color: $main-color;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/35/93/28/359328db2a024848d488c660dd53321a.jpg");
}

img{
  height: 500px;
}

h1{
  text-align: center;
}

.product{
  background: black;

}