$main-color: #ffb7f6;

body{
  color: $main-color;
  font-family: futura;
  background-image: url('marble.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

img{
  height: 500px;
}

h1{
  text-align: center;
}

.product{
  background: black;
  padding: 10px;
}