<h1>New Shirt</h1>
<%=form_tag "/products", method: :post do %>

<form>
<!--   <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div> -->
  
  name: <input type="text" name="name">


  size: <input type="text" name="size">


  color: <input type="text" name="color">


  price: <input type="text" name="price">


  <% label_tag :supplier %>
  <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>


  description: <input type="text" name="description">



<input type="submit" value="sell it">
</form>
<%end%>