<h1>New Supplier</h1>
<%=form_tag "/products", method: :post do %>

<form>
  
  name: <input type="text" name="name">


  size: <input type="text" name="email">


  color: <input type="text" name="phone">

<input type="submit" value="save">
</form>
<%end%>